@import "tailwindcss";

body {
  background-color: rgb(17 24 39);
  color: rgb(255 255 255);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}